* {
    box-sizing: border-box;
}

.clearfix{
    clear:both
}

.container {
    padding-right: 10%;
    padding-left: 10%;  
}

body {
    font-family: Helvetica, sans-serif;
}

header{
    background-color: #D3D3D3;
}

header li {
    display: inline-block;
    margin-left: 3em;
}

header{
    border-bottom: 1px solid rgb(121, 119, 119);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.apresentacao{
    background-color: rgb(134, 136, 134);
    padding-top: 5em;
    padding-right: 3em;
    border-top:3px solid silver;
  }


.apresentacao img{
    width: 300px;
    height: 300px;
    padding-bottom: 3em;
    
}

.apresentacao h2{
    font-weight: bold;
}

.rosto{
    float:left;
    width: 100%;
    vertical-align: baseline;
    
}

.bio{
    margin-left: 20%;
    padding-bottom: 14em ;
    
}

section img{
    width: 100%;
    max-width: 300px;
}

footer{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    border-top:3px solid silver;
}

footer li{
    display: inline-block;
    margin-left: 2em;   
}

.contatos{
    background-color:#D3D3D3 ;
}

.contatos p{
    margin-bottom: 1em;
}

.contatos h2{
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;

}

.contatos li{
    margin-top: 1em;
    font-weight: 600;
}

footer{
    padding-top: 1em;
    padding-bottom: 1em;
}

#copyright{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: black;
    font-size: 10px;
}